<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LiveApi</title>
</head>

<body>
    <h1>This is LiveApi's home page</h1>
    <p>支持的平台</p>
    <ul>
        <li><b>huya</b></li>
        <p><a href="./huya/kpl">前往虎牙的房间自动修复示例：kpl</a></p>

        <p><a href="./huya/688">前往虎牙的房间示例：688</a></p>
        <p><a href="./huya/243547">前往虎牙的房间示例：243547</a></p>
        

    </ul>
    <ul>
        <li>douyu</li>
        <p><a href="./douyu/kpl">前往斗鱼的房间自动修复示例：kpl</a></p>
        <p><a href="./douyu/6">前往斗鱼的房间自动修复示例：6</a></p>
    </ul>

    <footer>
        <small></small>
    </footer>
</body>

</html>